*.iml
google-services.json
.gradle
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/gradle/android/
/gradle/caches/
/gradle/daemon/
/gradle/kotlin-profile/
/gradle/native/
/gradle/wrapper/dists/